<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="body">
		<title>My Finance</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		
		<link rel="stylesheet"
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
			th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />
		<link rel="stylesheet"
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"
			th:href="@{webjars/bootstrap/3.2.0/css/bootstrap-theme.min.css}" />
	</head>
</html>